.office-preg {
    background-color: #eb3c00;
    margin-top: 75px;
    padding-top: 50px;
    min-height: 58vh;
    height: auto; 
}

.img1 {
    padding: 0px 0px 0px 10px;
}

.subtitulos{
	font-family: wf_segoe-ui_light;
    color: #FFF;
    font-size: 18px;
    margin-bottom:13px;
}

.respuesta {
	background-color: #FFF; 
	padding: 6px;
	margin-bottom: 20px;
}
.respuesta p{
	height: auto;
	font-family: wf_segoe-ui_light;
	color: #505050;
	font-size: 16px;
    margin-top: -25px!important;
    margin-left: 35px!important;
}
.img1{
	position: relative;
	left: 50%;
}

.subTitulo{
    margin-bottom: 20px!important;
}
.subTitulo p{
    margin-top: -30px!important;
    margin-left: 40px!important;
    margin-right: 80px;
}

/*FOOTER CONOCE MAS BENEFICIOS*/
.linkConoceMas{
    position: absolute;
    right: 110px;
}
.linkConoceMas2{
    position: absolute;
    right: 135px;
    top: 90px;
}
.linkConoceMas a, .linkConoceMas2 a{
    margin-left: 130px;
}
/*FIN FOOTER CONOCE MAS BENEFICIOS*/

/*QUERYS :) */

@media (max-width: 1284px) {
    .linkConoceMas a, .linkConoceMas2 a{
        margin-left: 50px;
    } 
}
@media (max-width: 990px) {
    .cuadro_beneficios a {
        font-size: 19px;
    }
    .linkConoceMas a, .linkConoceMas2 a{
        margin-left: 30px;
    } 
}

/*Esta query ya esta en style_type.css pero la tuvimos que pisar porque se rompia el desplegable*/
@media (max-width: 767px) {
    .navbar-toggle{
        margin-right: 38px!important;
    }
    .img1 {
        top: 150px!important;
    }
    .sarasa{
        margin-top: 160px;
    }
    .cuadro_beneficios a {
        font-size: 15px;
    }
    .imagen-beneficios {
        max-width: 220px;
        position: relative;
        bottom: -6px;
        left: -27px;
    }
    .cuadro_beneficios a {
        font-size: 15px;
    }
    .linkConoceMas{
        position: absolute;
        right: 60px;
    }
    .linkConoceMas2{
        position: absolute;
        right: 88px;
        top: 90px;
    } 
}
@media (max-width: 479px) {
    .img1 {
        top: -10px!important;
    }
    .sarasa{
        margin-top: 20px;
    }
    .subTitulo p {
        margin-top: -38px!important;
    }
    .respuesta p {
        margin-top: -50px!important;
        margin-left: 25px!important;
    }
    .cuadro_beneficios a {
        font-size: .9em;
    }
    .imagen-beneficios {
        max-width: 220px;
        position: relative;
        bottom: -35px;
        left: -10px;
    }
    .linkConoceMas{
        position: absolute;
        right: 45px;
        top: 0px;
    }
    .linkConoceMas2{
        position: absolute;
        right: 60px;
        top: 50px;
    } 
    .respuesta{
        min-height: 80px;
    }
    .respuesta p{
        margin-top: -22px!important;
    }
    .linkConoceMas a, .linkConoceMas2 a {
        margin-left: 14px;
    }
}
@media (max-width: 403px) {
    .subTitulo p {
        margin-top: -63px!important;
    }
    .respuesta{
        min-height: 60px;
    }
    .respuesta p{
        margin-top: -50px!important;
    }
    .linkConoceMas2 {
        right: 35px;
        top: 30px;
    }
    .linkConoceMas {
        top: 10px;
        right: 25px;
    }
    .imagen-beneficios {
        max-width: 220px;
        position: relative;
        bottom: -10px;
        left: -10px;
    }
}

/*FIN QUERYS :) */