* {
    margin: 0;
    padding: 0;
}
body {
    font-family: wf_segoe-ui_normal;
    overflow-x: hidden;
    font-size: 12px;
}
.sin-estilo {
    display: inline-block;
    text-decoration: none!important;
    color: #fff!important;
}  
.sin-estilo a {
    color: #fff;
    text-decoration: none!important;
}
.sin-estilo a:hover {
    color: #fff;
    text-decoration: none!important;
}
.imagen_cta {
    position: absolute;
    top: 20px;
    right: 20px;
}
.imagen_cta img {} .version_desktop {
    display: block;
}
.version_mobile {
    display: none;
}
.botonera_version_desktop {
    display: block;
}
.botonera_version_mobile {
    display: none;
}
.onedrive-desktop {
    display: block;
}
.onedrive-mobile {
    display: none;
}
.modal {
    margin-top: 40px!important;
}
.lala3,
.lala4 {
    height: 0;
}
/*Barra de Navegacion*/

.menuotro {
    line-height: 80px
}
.menuotro img {
    width: 168px;
}
.navbar-inverse .navbar-nav > li {
    width: 200px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF!important;
}
.activa {
    background-color: #eb3c00!important;
}
.activa2 {
    background-color: #ff8c00!important;
}
.activa3 {
    background-color: #d2d2d2!important;
}
.activa4 {
    background-color: #ff8c00!important;
}

.activa a, .activa3 a{
    line-height: 23px!important;
    font-family: wf_segoe-ui_semibold;
    padding-top: 20px;
    padding-left: 4px;
    padding-bottom: 19px;
    font-size: 24px!important;
    color: #fff!important;
    text-align: center;
}
 .activa3 a{
    color: #505050!important;
 }
 .activa4 a, .activa2 a{
    line-height: 23px!important;
    font-family: wf_segoe-ui_semibold;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 19px;
    font-size: 19px!important;
    color: #fff!important;
    text-align: left!important;
}


.wrapper-suscribirse {
    position: relative;
}
.flecha_naranja {
    position: absolute;
    left: 142px;
    top: 16px;
}
.navbar {
    background-color: #505050!important;
    border-radius: 0px!important;
    border: none!important;
    z-index: 20000!important;
    line-height: 1em;
    border-bottom: 4px solid white!important;
    height: auto;
}
.navbar-inverse {
    background-color: #505050!important;
}
/*Office 1*/

.office1 {
    font-family: wf_segoe-ui_light;
    font-size: 30px;
    color: #fff;
    margin-top: 75px;
}
.office1 .selector {
    padding: 0px!important;
}
.office1 .row-prnci {
    padding: 0px!important;
    margin: 0px!important;
}
.office_gratis {
    background-color: #eb3c00;
    height: auto;
    min-height: 283px;
    padding-top: 15px;
}
.office_gratis img {
    margin: 0 auto;
    max-height: 250px
}
.office_gratis>.col-md-6:nth-child(1) {
    position: absolute;
    bottom: 0px;
}
.office_gratis>.col-md-6:nth-child(2) {
    margin-left: 50%;
    margin-top: -16px;
}
.container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.row-prnci h1 {
    font-size: 2.2em
}
.row-prnci h3 {
    padding-right: 0px;
    font-size: 1.1em;
    margin-bottom: 30px
}
.office-image {
    background-image: url(../images/imagen_banner.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 435px;
    background-size: 96%;
}
.office_cuenta {
    background-color: #009e49;
    height: 182.5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 50px;
}
.office_ncuenta {
    background-color: #0072c6;
    height: 182.5px;
    margin-left: 5px;
    padding-top: 50px;
}
.hace_click {
    margin: 10px;
}
.logos {
    width: 100%
}
.logos img {
    margin: 0 auto;
    display: block;
    position: relative;
}
.pasos {
    background-color: #EB3C00;
    height: 100%;
    padding: 0px 10px 10px 10px;
    position: relative;
    display: block;
    float: left;
        width: 100%;
}
.pasos_mobile {
    background-color: #EB3C00;
    height: 100%;
    padding: 0px 10px 10px 10px;
    position: relative;
    display: none;
    float: left;
        width: 100%;
}
.sec-col-01 {
    background-color: #fff;
    padding-top: 18px;
    padding-left: 0px!important;
    border: none;
    padding-bottom: 10px;
    padding-right: 0px!important;
    height: 182px!important;
    position: relative;
    display: block;
}
/*border: 4px solid #EB3C00;*/

.botonesdescarga {
    padding-left: 16.66666667%!important;
}
.sec-col-01:nth-child(1) {
    border-right: 4px solid #EB3C00;
}
.sec-col-01:nth-child(2) {
    border-left: 4px solid #EB3C00;
}
.imagen-ilustracion {
    margin: 0 auto;
}
.ingresa_institucion h3 {
    font-size: 2.5em;
    color: #EB3C00;
    font-family: wf_segoe-ui_light;
    margin-top: 0px!important;
    text-align: center;
    height: auto;
    min-height: 40px;
}
.introd_institucion {
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.suscribir_institucion h5 {
    font-size: 2em;
    color: #EB3C00;
    font-family: wf_segoe-ui_light;
    margin-top: 8px!important;
    /*background-image: url(../images/flecha_naranja.png);
    background-position: 135px 8px;
    background-repeat: no-repeat!important;*/
}
.sec-col-02 {
    background-color: #fff;
    min-height: 407px!important;
    height: auto;
    padding-top: 18px;
    border: 4px solid #EB3C00;
}
.nocuenta-institucion h3 {
    font-size: 3em;
    color: #EB3C00;
    font-family: wf_segoe-ui_light;
    margin-top: 45px!important;
    /* margin-left: -90px!important;*/
}
.nocuenta-institucion h5 {
    font-size: 2.5em;
    color: #EB3C00;
    font-family: wf_segoe-ui_light;
    margin-top: 45px!important;
    /*margin-left: -90px!important;*/
}
.sec-col-03 {
    background-color: #fff;
    min-height: 143px!important;
    height: auto;
}
.yatenes_tucuenta h3 {
    font-size: 3.3em;
    color: #EB3C00;
    font-family: wf_segoe-ui_light;
    margin-top: 0px!important;
}
.descarga_office {
    background-color: #0057A6;
    color: #fff;
    font-size: 1.7em;
    height: auto;
    min-height: 50px!important;
    padding-top: 0px;
    background-image: url(../images/flecha_azul.png);
    background-position: right center;
    background-repeat: no-repeat!important;
    padding-right: 50px;
    line-height: 50px;
    font-family: wf_segoe-ui_semibold;
    width: 400px;
    margin: 0 auto;
    padding-left: 15px;
}
.descarga_office.otro {
    width: 370px;
}
#collapseExample,
#collapseExample1,
#collapseExample3,
#collapseExample4 {
    display: none;
}
.paso1,
.signo {
    background-color: #EB3C00;
    font-size: 26px;
    height: 30px;
    color: #fff;
    font-family: wf_segoe-ui_light;
    margin-left: -15px;
    width: 100px;
    padding-right: 10px;
    line-height: 26px;
}
.paso3 {
    position: absolute;
    top: 135px;
    left: 11px;
}
.signo {
    font-family: wf_segoe-ui_semibold;
    margin-top: 9px;
    width: 40px;
    padding-right: 15px;
    height: 28px;
    line-height: 24px;
}
/*rotator*/

.rotator-facultades {
    float: left;
    width: 100%;
}
.img-loca {
    position: absolute;
    bottom: 0px;
}
.imagen-ilustracion2 {
    margin: 0 auto;
    max-height: 200px;
}
.desc {
    color: #000;
    font-size: 1.45em;
    padding-left: 25px;
    font-family: wf_segoe-ui_semilight;
}
.desc1 {
    color: #000;
    font-size: 1.45em;
    padding-left: 25px;
    font-family: wf_segoe-ui_semilight;
}
.desc1 h2 {} .desc p span,
.desc ul li {
    font-size: 0.8em;
}
.desc p span {
    font-family: wf_segoe-ui_light;
}
.desc ul li {
    list-style: none;
}
.desc ul li:before {
    content: ".";
    font-family: wf_segoe-ui_bold;
}
.flippy {
    position: relative;
}
.flippy > * {
    position: absolute;
    opacity: 0;
    top: -50px;
}
.flippy > *:first-child {
    opacity: 1;
    top: 0;
}
ul.flippy li {
    text-decoration: none!important;
    list-style: none!important;
    width: 100%;
}
/*carrousel*/

.owl-carousel {
    float: left;
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-buttons div {
    content: none;
}
.owl-theme .owl-controls {} .owl-theme .owl-controls .owl-next {
    position: absolute;
    right: -90px;
    top: 15px
}
.owl-theme .owl-controls .owl-prev {
    position: absolute;
    left: -90px;
    top: 15px
}
.owl-theme .owl-controls .owl-buttons div {
    width: 30px;
    height: 35px;
    border-radius: 0px!important;
    color: transparent!important;
    background-size: 100%!important;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url(../images/flecha_der.png);
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url(../images/flecha_izq.png);
}
/*beneficios*/

.benf1 {
    height: 600px;
    margin: 0 auto;
}
/*.benf1 img{
    margin: 0 auto;
}*/

.onedrive {
    width: 100%;
    float: left;
}
.beneficios {
    background-color: #eb3c00;
    height: auto;
    margin: 5px 0;
}
.beneficios img {
    max-height: 220px;
    margin-top: 25px;
}
.laimagen {
    right: 15px;
    display: block;
    position: absolute!important;
    bottom: 23px;
}
.laimagen img {} .disfruta-todoOffice {
    padding-bottom: 15px;
    padding-left: 0px!important;
}
.disfruta-todoOffice h3 {
    font-size: 3.6em;
    color: #FFF;
    font-family: wf_segoe-ui_light;
    line-height: 60px;
    margin-top: 10px
}
.disfruta-todoOffice p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
    font-family: wf_segoe-ui_light;
    margin-top: 20px
}
/*botonera*/

.descarga_y_gana {
    height: 100px;
}
.descarga_y_gana a:after {
    height: 18px;
    width: 18px;
    background-image: url(../images/mas.png);
    display: block;
    content: "";
    position: absolute;
    left: -9px;
    top: 42%
}
.descarga_y_gana .office:after {
    display: none;
}
/*logos*/
/*Posicion Logo*/

.office {
    text-align: center;
    background-image: url(../images/office.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}
.office_1 {
    text-align: center;
    background-image: url(../images/office_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e74011;
}
.outlook {
    text-align: center;
    background-image: url(../images/outlook.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}
.outlook_1 {
    text-align: center;
    background-image: url(../images/outlook_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0054a6;
}
.sharepoint {
    text-align: center;
    background-image: url(../images/sharepoint.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}
.sharepoint_1 {
    text-align: center;
    background-image: url(../images/sharepoint_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0072bc;
}
.skype {
    text-align: center;
    background-image: url(../images/skypeforbusiness.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    background-size: 85%;
    z-index: 10000;
}
.skype_1 {
    text-align: center;
    background-image: url(../images/skype_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #00aeef;
}
.onedrive {
    text-align: center;
    background-image: url(../images/onedrive.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    z-index: 10000;
}
.onedrive_1 {
    text-align: center;
    background-image: url(../images/onedrive_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0054a6;
}
.yammer {
    text-align: center;
    background-image: url(../images/yammer.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    z-index: 10000;
}
.yammer_1 {
    text-align: center;
    background-image: url(../images/yammer_gris.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0069b4;
}
/*los triangulos*/

.outlook_1:before,
.outlook_1:before,
.sharepoint_1:before,
.skype_1:before,
.onedrive_1:before,
.yammer_1:before,
.office_1:before {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-top: 14px solid white;
    border-right: 14px solid transparent;
    display: block;
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 45%;
    bottom: -20px;
    z-index: 9
}
.office_1:before {
    border-top: 14px solid #e74011;
    ;
}
.outlook_1 {}
/*desplegable*/

.botonera {
    font-family: wf_segoe-ui_light;
    font-size: 20px;
    margin-top: 5px;
}
.botonera h3 {
    margin-top: 5px;
    margin-bottom: 5px!important;
    height: 100px;
    padding-top: 20px
}
.office_mix_texto {
    background-image: url(../images/logos_office_desplegable.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    padding-top: 0px;
    height: 101px;
    /*margin: 20px auto!important;*/
    
    margin-bottom: 5px;
    padding-bottom: 0px;
}
.outlook_mix_texto h3 {
    padding-top: 20px;
    color: #FFF;
    background-color: #505050;
    font-size: 22px;
    padding-bottom: 10px;
}
.sharepoint_mix_texto h3 {
    color: #FFF;
    background-color: #505050;
    font-size: 22px;
    padding-bottom: 10px;
}
.skype_mix_texto h3 {
    color: #FFF;
    background-color: #505050;
    font-size: 22px;
    margin-bottom: 10px;
}
.onedrive_mix_texto h3 {
    color: #FFF;
    background-color: #505050;
    font-size: 22px;
    padding-top: 10px!important;
}
.onedrive_mix_texto h3 img {
    margin-top: -5px;
}
.yammer_mix_texto h3 {
    color: #FFF;
    background-color: #505050;
    font-size: 22px;
}
/*Office Mix Swan y 365*/

.conoce_mas {
    color: #fff;
    font-family: wf_segoe-ui_semibold;
    border-left: 1px solid #FFF;
    font-size: 1.25em;
    line-height: 1.3em;
    display: block;
}
.conoce_mas_mobile {
    color: #fff;
    font-family: wf_segoe-ui_semibold;
    font-size: 1em;
    line-height: 1.3em;
    display: none;
}
.conoce_mas_mobile p {
    display: inline;
    margin-right: 5px;
    padding-top: 12px;
}
.row-ancho {
    min-height: 80px;
    height: auto;
    padding-top: 12px;
    padding-bottom: 11px;
}
.conoce_mas img {
    margin-top: 5px;
}
.logo_conoce {
    padding-left: 60px!important;
}
.logo_conoce img {
    float: left;
}
.logo_conoce p {
    color: #fff;
    float: left;
    font-size: 2em;
    line-height: 2em;
    font-family: wf_segoe-ui_semilight;
    padding-left: 15px;
    margin-bottom: 0;
}
.espacio_logos {
    height: 2px;
}
.office_mix {
    background-color: #eb3c00;
}
.swan {
    background-color: #00887e;
}
.one_note {
    background-color: #662d91;
    margin-bottom: 5px
}
.mix-sway-one-texts {
    color: #fff;
    font-size: 1.25em;
    line-height: 1.3em;
    padding-top: 5px;
    font-family: wf_segoe-ui_normal;
}
.mix-sway-one-texts p {
    margin-bottom: 0;
}
/*Windowa Azure*/

.microsoft_azure {
    height: auto;
    color: #FFF;
    font-family: wf_segoe-ui_light;
    border-left: 4px solid white;
    padding: 0px!important;
}
.nube-tl {} .microsoft_azure h3 {
    margin-top: 0;
    font-size: 3em;
    font-family: wf_segoe-ui_normal;
    padding-left: 15px;
    line-height: 1.5em
}
.microsoft_azure p {
    padding-left: 15px;
    font-size: 1.25em;
    line-height: 1.3em;
    font-family: wf_segoe-ui_normal;
}
.microsoft_azure img {
    margin: 0 auto;
    display: block;
    max-width: 310px;
    position: relative;
    bottom: -10px;
}
.bajada_mazure {
    font-size: 1.5em;
    margin-top: 30px;
}
.microsoft_azure,
.windows10 {
    min-height: 495px!important;
    height: 495px;
    overflow: hidden;
    margin-bottom: 25px;
}
/*windows10*/

.windows10 {
    height: auto;
    color: #FFF;
    font-family: wf_segoe-ui_light;
    border-right: 4px solid white;
    background-image: url(../images/img-windows.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0078d7;
    background-size: 100% auto;
    position: relative;
}
.windows10 h3 {
    margin-top: 250px;
    display: block;
    float: left;
    width: 100%;
    font-size: 3em;
    line-height: 2em;
    font-family: wf_segoe-ui_normal;
}
.windows10 p {
    font-size: 1.25em;
    line-height: 1.3em;
    font-family: wf_segoe-ui_normal;
}
.windows10 a {
    float: right;
    color: #fff;
    text-align: right;
    font-size: 2em;
    line-height: 1.6em;
    font-family: wf_segoe-ui_light;
}
.windows10 a:after {
    content: url(../images/img-play.png);
    position: relative;
    top: 6px;
    margin-left: 15px;
}
.bajada_w10 {
    padding: 0px!important;
}
.bajada_w10 p {
    margin-top: 20px!important;
    padding-right: 25px;
}
.bajada_w10 h2 a {
    color: #FFF;
    font-size: 25px;
}
.mostrar_finish{
    display: none;
    color: #FFF;
}
.mostrar_finish p a{
text-decoration: underline;
color: #ffdd00;
cursor:pointer;
}
.mostrar1{
    display: block;
}
.form-horizontal{
    display: block;
}
/*las nubes*/

.nube-br {
    background: url(../images/nube-br.png) no-repeat;
    background-position: right bottom;
    background-color: #00bcf2
}
.nube-bl {
    background: url(../images/nube-bl.png) no-repeat;
    background-position: left bottom;
}
.nube-tl {
    background: url(../images/nube-tl.png) no-repeat;
    background-position: left top;
}
.nube-br,
.nube-bl,
.nube-tl {
    height: 100%
}
/*legales*/

.legales {
    float: left;
    display: block;
    padding-right: 30px!important;
    padding-left: 30px!important;
}
.legales p {
    margin: 0;
    font-size: 1em;
    padding-bottom: 30px;
    padding-top: 20px;
}
.container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.no-margin {
    margin-right: -15px!important;
    margin-left: -15px!important;
}
.ocultar-pest {
    display: none;
}
.imagen-azure {
    position: relative;
    left: 10px;
    top: 20px;
}
.imagen-w10 {
    position: relative;
    left: 10px;
    top: 50px;
}
/*cuadro beneficios*/

.conoce_beneficios {
    margin: 0px 0;
    color: #fff;
    height: 50px;
    background-color: #00188f;
}
.conoce_beneficios h3 {
    padding: 0px;
    margin: 10px;
    margin-right: 10%;
    font-family: wf_segoe-ui_normal;
    font-size: 2.1em;
    margin-top: 7px;
    padding-top: 5px;
}
.imagen-beneficios {
    position: relative;
    bottom: 21px;
    margin-left: 15px;
}
.cuadro_beneficios {
    height: 190px;
    background-color: #00bcf2;
    color: #FFF!important;
    line-height: 15px;
    font-family: wf_segoe-ui_semibold;
}
.margin-top-cuadro {
    padding-top: 55px;
}
.cuadro_beneficios a {
    color: #FFF!important;
    text-decoration: none;
    font-size: 1.95em;
    text-align: center;
    font-family: wf_segoe-ui_bold;
}
.padding-top {
    padding-top: 10px;
}
/*Footer*/

.pull-right-1 {
    float: right!important;
    margin-top: 7px;
    padding-top: 10px;
}
.links-margin {
    margin-top: 41px;
    margin-left: 36%;
}
.links-margin a {
    padding-right: 20px;
}
footer {
    background-color: rgb(243, 243, 243);
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 70px;   
}

.formulario .pull-right-1 {
      float: right!important;
    margin-top: 7px;
    padding-top: 10px;
}
.ms {
    float: right;
    background-color: rgb(243, 243, 243);
    margin: 20px 30% 0 0;
    font-size: 12px;
}
.ms img {
    float: right;
    margin-top: -5px;
}
.cuadro_contactanos {
    background-color: #f04e23;
    height: 95px;
    font-family: wf_segoe-ui_bold;
    font-size: 18px;
    color: #fff;
    padding-top: 3%;
}
.cuadro_contactanos2 {
    height: 95px;
    font-family: wf_segoe-ui_bold;
    font-size: 18px;
    color: #fff;
}
.cuadro_contactanos p {
    position: relative;
    text-align: center;
}
#contactanos {
    font-size: 30px;
}
#hr_azul {
    border: 1px solid #00188f;
}
#mas_info {
    text-align: left;
    font-size: 2
    5px;
    line-height: 30px;
    font-family: wf_segoe-ui_light;
    color: #f04e23;
}
.row-prnci h3 .lala2 {
    height: 0px;
}
/*FORMULARIO OFFICE*/
.formulario{
    background-color: #eb3c00;
    height: 100%;
}
.centrar{
    /*display: table;
    height:55vh;*/
    margin-top: 150px;
    margin-right: 20px;
}
.formulario-office{
    min-height: 450px;
    display: table-cell;
    vertical-align: middle;

    background-color: #eb3c00;
    margin-bottom: 10px;
}
.formulario-office p{
    color: #fff;
    /* padding: 52px 0px 21px 2px; */
    font-size: 18px;
    line-height: 21px;
    font-family: wf_segoe-ui_light;
}
.img1 {
    padding: 20px 0px 0px 10px;
}
.form-control {
    border-radius: 0px!important;
    height: 46px!important;
}
.control-label{
    text-align: left!important;
    color: #fff;
    font-family: wf_segoe-ui_light;
    font-size: 15px;
    font-weight: normal!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.cta-enviar{
    background-color: #ff8c00;
    border-color: #ff8c00;
    height: 46px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 200px!important;
}
.cta-enviar img{
    position: absolute;
    right: 10px;
    top:4px;
}
.formulario-office button{
    border: none!important;
}
/*LOADER*/
#loading{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.7);
    z-index: 1001;
    position: absolute;
    display: none;
}
#loading img{
    z-index: 1001;
    top: 45%;
    position: absolute;
    left: 50%;
}
}
/*FORMULARIO*/
.error{
    color: #FFF;
}
/*MODIFICACION 04-05*/
.footer_form{
/*    position: fixed;*/
    bottom: 0px;
    height: auto;
}

.foo-pos-abajo{
    position: absolute;
    bottom: 0px;
}


@media (max-width: 1300px) {
    /*Office gratis para Alumnos y Docentes*/
    
    .version_desktop {
        display: block;
    }
    .version_mobile {
        display: none;
    }
    .office_gratis>.col-md-6:nth-child(2) {
        width: 60%;
        margin-left: 45%
    }



}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .centrar {
        margin-top: 272px;
        margin-right: 77px;
    }
}
@media (max-width: 1199px) {
    /*Office gratis para Alumnos y Docentes*/
    
    .version_desktop {
        display: block;
    }
    .version_mobile {
        display: none;
    }
    .office_gratis>.col-md-6:nth-child(2) {
        width: 55%;
        margin-left: 48%;
    }
    .office_gratis,
    .ingresa_institucion {
        font-size: 0.85em;
    }
    .disfruta-todoOffice {
        font-size: 0.80em;
    }
    .row-prnci h1 {
        margin-top: 50px;
    }
    .botonesdescarga {
        padding-left: 15px!important;
    }
    .descarga_office {
        width: 370px
    }
    .descarga_office.otro {
        width: 325px
    }
    .owl-theme .owl-controls .owl-next {
        right: -50px;
    }
    .owl-theme .owl-controls .owl-prev {
        left: -50px;
    }
    .disfruta-todoOffice h3 {
        line-height: 50px;
    }
    .laimagen {
        bottom: 15px;
    }
      .centrar {
    margin-top: 262px;
    margin-right: 81px;
}
}
@media (max-width: 991px) {
    /*Office gratis para Alumnos y Docentes*/
    
    .office_gratis>.col-md-6:nth-child(2) {
        width: 60%;
        margin-left: 42%;
    }
    .office_gratis,
    .ingresa_institucion,
    .disfruta-todoOffice {
        font-size: 0.65em;
    }
    .descarga_office {
        font-size: 1.5em;
        width: 340px;


    }

    .row-prnci h1 {
        margin-top: 55px;
    }
    .owl-theme .owl-controls .owl-next {
        right: -20px;
    }
    .owl-theme .owl-controls .owl-prev {
        left: -20px;
    }
    .beneficios img {
        max-height: 200px;
    }
    .disfruta-todoOffice h3 {
        line-height: 40px;
    }
    .laimagen img {
        max-height: 160px;
    }
    .laimagen {
        bottom: 10px;
        right: -15px;
    }
    .disfruta-todoOffice p {
        font-size: 1.9em;
    }
    .lala4 {
        display: none;
    }
    .conoce_mas {
        border-left: none;
    }
    .imagen-beneficios {
        position: relative;
        bottom: -28px;
    }
    .foo-pos-abajo{
        position: relative;
    }.legales p {
        font-size: .8em;
    }
}
@media (max-width: 768px) {
    .office_gratis>.col-md-6:nth-child(2) {
        width: 100%;
        margin-left: 0%;
        padding: 0;
    }
    .office_gratis,
    .disfruta-todoOffice {
        font-size: 0.60em;
    }
    .lala3 {
        height: 0px
    }
    .ingresa_institucio {
        font-size: 0.80em;
    }
    .row-prnci h1 {
        margin-top: 35px;
    }
    .row-prnci h3 {
        width: 60%;
        margin-left: 40%;
        margin-top: 55px;
        font-size: 1.3em;
        margin-bottom: 90px;
    }
    .descarga_office {
        font-size: 1.7em;
        width: 400px
    }
    .descarga_office.otro {
        width: 370px
    }
    .botonesdescarga {
        padding-left: 16.66666667% !important;
    }
    .sec-col-01:nth-child(1) {
        border-right: 0px solid #EB3C00;
        border-bottom: 15px solid #EB3C00;
        height: 222px !important;
    }
    .sec-col-01:nth-child(2) {
        border-left: 0px solid #EB3C00;
        height: 182px !important;
    }
    .ingresa_institucion h3 {
        min-height: 80px;
        font-size: 2.5em!important;
    }
    .desc {
        font-size: 1.30em
    }
    .sec-col-03 {
        padding-top: 0px;
    }
    .owl-theme .owl-controls .owl-next {
        right: 0px;
        top: 30%;
    }
    .owl-theme .owl-controls .owl-prev {
        left: 0px;
        top: 30%;
    }
    .owl-carousel {} .logos img {
        width: auto;
    }
    .lala3 {
        display: none
    }
    .laimagen {
        bottom: 10px;
    }
    .disfruta-todoOffice p {
        /*width: 70%;
*/
        
        font-size: 1.9em;
        text-align: left;
        margin-top: 25px;
    }
    .disfruta-todoOffice {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: .6em;
        color: #fff;
        font-family: wf_segoe-ui_light;
    }
    .disfruta-todoOffice h3 {
        text-align: left;
        width: 100%;
        float: right;
    }
    .beneficios img.desktop {
        display: none;
    }
    .beneficios img.mobile {
        display: block!important;
        position: relative;
        float: right;
        width: 30%;
        margin-top: 0;
    }
    .disfruta-todoOffice p {
        float: left;
        display: inline-block;
    }
    .conoce_mas {
        border-left: none;
    }
    .conoce_mas {
        border-left: none;
    }
    .menuotro img {
        width: 144px;
    }
    .descarga_y_gana {
        height: 200px;
    }
    .botonera h3 {
        height: 111px;
    }
    .office_mix_texto {
        background-size: 92%;
    }
    .img1 {
    padding: 20px 0px 0px 10px;
    margin-top: -170px;
    }
    .centrar {
        margin-top: 270px!important;
    }
}
@media (max-width: 680px) {
    .onedrive-desktop {
        display: none;
    }
    .onedrive-mobile {
        display: block;
    }
    .beneficios img {
        max-height: 102px;
    }
    .disfruta-todoOffice {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: .9em;
    }
    .disfruta-todoOffice h3 {
        font-size: 1.3em!important;
        text-align: center;
        line-height: 1.3em;
    }
    .office_gratis {
        font-size: 0.50em;
    }
    .row-prnci h3 {
        margin-top: 45px;
        margin-bottom: 80px;
    }
    .desc {
        font-size: 1.2em;
    }
    .desc p {
        font-family: wf_segoe-ui_normal;
    }
    .desc li {
        line-height: 1.2em;
    }
    .desc li:nth-child(1) {
        padding-bottom: 5px;
    }
    .disfruta-todoOffice h3 {
        font-size: 3.3em;
    }
    .menu>ul li a {
        font-size: .966em;
    }
    .activa a, .activa3 a, .activa2 a, .activa4 a  {
        font-size: 1em;
    }
    .conoce_mas {
        border-left: none;
    }

}
@media (max-width: 570px) {
    .imagen_cta {
        position: absolute;
        top: 5px;
        right: -5px;
    }
    .imagen_cta img {
        width: 65%;
        position: relative;
        right: -20px;
        top: 6px;
    }
    .onedrive-desktop {
        display: none;
    }
    .onedrive_mix_texto h3 img {
        width: 10px;
    }
    .onedrive-mobile {
        display: block;
    }
    .beneficios img {
        max-height: 102px;
    }
    .disfruta-todoOffice {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: .9em;
    }
    .disfruta-todoOffice h3 {
        font-size: 1.3em!important;
        text-align: center;
        line-height: 1.3em;
    }
    .office_gratis {
        font-size: 0.40em;
    }
    .row-prnci h3 {
        margin-top: 35px;
        margin-bottom: 70px;
    }
    .row-prnci h1 {
        margin-top: 25px;
    }
    .descarga_office {
        width: 360px;
        background-size: 45px
    }
    .descarga_office.otro {
        width: 310px;
    }
    .sec-col-01:nth-child(1),
    .sec-col-01:nth-child(2) {
        height: 205px!important;
    }
    .desc {
        margin-left: 0%;
        font-size: 1.15em;
        position: relative!important;
    }
    .sec-col-03 {
        min-height: auto!important;
        height: auto!important;
    }
    .imagen-ilustracion2.desktop {
        display: none;
    }
    .imagen-ilustracion2.mobile {
        display: block!important;
    }
    h3 {
        font-size: 16px!important;
    }
    .office,
    .office_1,
    .outlook,
    .sharepoint_1,
    .sharepoint,
    .skype,
    .onedrive,
    .yammer {
        background-size: 69%;
    }
    .menuotro img {
        width: 90px;
    }
    .menuotro {
        line-height: 46px!important;
    }
    .navbar {
        overflow-x: hidden;
    }
    .menu>ul li {
        height: 46px;
        line-height: 46px;
    }
    .menu>ul li a {
        font-size: .76em;
        line-height: 46px;
    }
    .botonera {
        font-family: wf_segoe-ui_light;
        font-size: 20px;
        margin-top: 5px;
    }
    .conoce_mas {
        border-left: none;
    }
    .mix-sway-one-texts p {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
    }
    .logo_conoce img {
        float: left;
        margin-left: -41px;
    }
    .conoce_mas {
        display: none;
    }
    .conoce_mas_mobile {
        display: block;
    }
    .one_note {
        background-color: #662d91;
        margin-bottom: 5px;
        height: 165px;
    }
    .imagen-beneficios {
        position: relative;
        bottom: -29px;
        margin-left: 15px;
    }
    .conoce_beneficios {
        margin-top: -32px;
    }
    .microsoft_azure {
        border-left: none;
    }
    .conoce_beneficios h3 {
        padding: 8px;
        margin: 0px;
        margin-right: 0%;
        font-family: wf_segoe-ui_normal;
        font-size: 1.25em!important;
        margin-top: 6px;
    }
    .imagen-beneficios {
        width: 200px!important;
    }
    .conoce_mas {
        border-left: none!important;
    }
    .cuadro_beneficios a {
        font-size: 1.1em;
        font-family: wf_segoe-ui_semibold;
    }
    .cuadro_beneficios {
        height: 137px;
    }
    .margin-top-cuadro {
        padding-top: 40px;
    }
}
@media (max-width: 479px) {
    .office_gratis {
        font-size: 0.34em;
    }
    .row-prnci h1 {
        /*font-family: wf_segoe-ui_normal;*/
    }
    .row-prnci h3 {
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 60px;
        width: 63%;
        margin-left: 35%;
    }
    .office_gratis > .col-md-6:nth-child(1) {
        margin-left: -15px;
    }
    .ingresa_institucion {
        font-size: 0.65em;
    }
    .paso1 {
        font-size: 19px;
        width: 70px
    }
    .signo {
        font-size: 19px;
        padding-left: 7px
    }
    .descarga_office {
        font-size: 1.3em;
        width: 285px;
        background-size: 35px;
        min-height: 35px!important;
        line-height: 40px;
        padding-left: 10px;
    }
    .descarga_office.otro {
        width: 245px;
    }
    .sec-col-01:nth-child(1),
    .sec-col-01:nth-child(2) {
        height: 165px!important;
        padding-top: 14px;
    }
    .ingresa_institucion h3 {
        min-height: 60px;
        padding: 0 10px;
        font-size: 2.2em;
    }
    .sec-col-01:nth-child(2) .ingresa_institucion h3 {
        line-height: 50px!important;
        min-height: 50px;
    }
    .desc {
        padding: 0!important;
        padding-left: 8px!important;
    }
    h3 {
        font-size: 10px!important;
    }
    .office,
    .office_1,
    .outlook,
    .sharepoint_1,
    .sharepoint,
    .skype,
    .onedrive,
    .yammer {
        background-size: 69%;
    }
    .menuotro img {
        width: 90px;
    }
    .menuotro {
        line-height: 46px!important;
    }
    .menu>ul li {
        height: 46px;
        line-height: 46px;
    }
    .menu>ul li a {
        font-size: .76em;
        line-height: 46px;
    }
    .botonera {
        font-family: wf_segoe-ui_light;
        font-size: 20px;
        margin-top: 3px;
    }
    .conoce_mas {
        border-left: none;
    }
    .mix-sway-one-texts p {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
    }
    .logo_conoce img {
        float: left;
        margin-left: -41px;
    }
    .conoce_mas {
        display: none;
    }
    .conoce_mas_mobile {
        display: block;
    }
    .one_note {
        background-color: #662d91;
        margin-bottom: 5px;
        height: 165px;
    }
    .imagen-beneficios {
        position: relative;
        bottom: -56px;
        margin-left: 15px;
    }
    .conoce_beneficios {
        margin-top: -32px;
    }
    .microsoft_azure {
        border-left: none;
    }
    .conoce_beneficios h3 {
        padding: 8px;
        margin: 0px;
        margin-right: 0%;
        font-family: wf_segoe-ui_normal;
        font-size: 1.25em!important;
        margin-top: 6px;
    }
    .imagen-beneficios {
        width: 170px!important;
    }
    .conoce_mas {
        border-left: none!important;
    }
    .cuadro_beneficios a {
        font-size: 1em;
        text-align: center;
        font-family: wf_segoe-ui_semibold;
    }
    .version_desktop {
        display: none;
    }
    .version_mobile {
        display: block;
    }
    .cuadro_beneficios {
        height: 148px;
    }
    .onedrive-desktop {
        display: none;
    }
    .onedrive-mobile {
        display: block;
    }
    .beneficios img {
        max-height: 102px;
    }
    .disfruta-todoOffice {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: .9em;
    }
    .disfruta-todoOffice h3 {
        font-size: 1.3em!important;
        text-align: center;
        line-height: 1.3em;
    }
    .centrar {
    margin-top: 110px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 90px;
}
.img1 {
    margin-top: 0px;
    }
}
@media (max-width: 400px) {
    .botonera_version_desktop {
        display: none;
    }
    .botonera_version_mobile {
        display: block;
    }
    .office_gratis {
        font-size: 0.28em;
    }
    .row-prnci h3 {
        margin-top: 5%;
        margin-bottom: 10%
    }
    .office_gratis {
        padding-left: 4px!important;
        padding-right: 4px!important;
    }
    .office_gratis > .col-md-6:nth-child(1) {
        padding-left: 0px;
        margin-left: 0px;
    }
    .row-prnci h1 {
        margin-top: 15px;
        margin-bottom: 28px;
    }
    .row-prnci h3 .lala {
        display: block!important;
        height: 0px;
    }
    .row-prnci h3 .lala2 {
        display: none!important;
    }
    .sec-col-01:nth-child(1),
    .sec-col-01:nth-child(2) {
        padding-top: 10px;
        height: 110px!important;
    }
    .sec-col-01:nth-child(2) .ingresa_institucion h3 {
        padding: 0 15px;
    }
    .ingresa_institucion h3 {
        font-size: 2em!important;
        padding-right: 5px;
        padding-left: 15px;
        top: -3px;
        position: relative;
        display: block;
        margin-bottom: 0px;
        min-height: 50px;
    }
    .pasos {
        padding: 0 4px;
    }
    .sec-col-01:nth-child(1) {
        border-bottom-width: 5px;
    }
    .paso1 {
        font-size: 15px;
        width: 60px;
        padding-right: 5px;
        height: 18px;
        line-height: 16px;
    }
    .signo {
        font-size: 15px;
        width: 35px;
        padding-left: 7px;
        height: 18px;
        line-height: 16px;
    }
    .descarga_office {
        font-size: 15px;
        line-height: 28px;
        min-height: 28px!important;
        background-size: 25px;
        width: 225px;
        padding-right: 10px
    }
    .descarga_office.otro {
        width: 190px;
    }
    .desc p,
    .desc span,
    .desc li {
        font-size: 12px!important;
    }
    .imagen-ilustracion2 {
        margin-left: 8px
    }
    .sec-col-03 {
        padding-right: 7px!important;
    }
    .desc {
        padding-left: 10px!important;
    }
    h3 {
        font-size: 10px!important;
    }
    .office,
    .office_1,
    .outlook,
    .sharepoint_1,
    .sharepoint,
    .skype,
    .onedrive,
    .yammer {
        background-size: 69%;
    }
    .menuotro img {
        width: 63px;
    }
    .menuotro {
        line-height: 46px!important;
    }
    .menu>ul li {
        height: 46px;
        line-height: 46px;
    }
    .menu>ul li a {
        font-size: .76em;
        line-height: 46px;
    }
    .botonera {
        font-family: wf_segoe-ui_light;
        font-size: 20px;
        margin-top: 0px;
    }
    .conoce_mas {
        border-left: none;
    }
    .mix-sway-one-texts p {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
    }
    .logo_conoce img {
        float: left;
        margin-left: -41px;
    }
    .conoce_mas {
        display: none;
    }
    .conoce_mas_mobile {
        display: block;
    }
    .one_note {
        background-color: #662d91;
        margin-bottom: 5px;
        height: 165px;
    }
    .imagen-beneficios {
        position: relative;
        bottom: -12px;
        margin-left: 15px;
    }
    .conoce_beneficios {
        margin-top: -32px;
    }
    .microsoft_azure {
        border-left: none;
    }
    .conoce_beneficios h3 {
        padding: 8px;
        margin: 0px;
        margin-right: -1%;
        font-family: wf_segoe-ui_normal;
        font-size: 1.4em!important;
        margin-top: 6px;
    }
    .imagen-beneficios {
        width: 135px!important;
        margin-left: -1px;
    }
    .conoce_mas {
        border-left: none!important;
    }
    .cuadro_beneficios {
        height: 85px;
    }
    .cuadro_beneficios a {
        color: #FFF!important;
        text-decoration: none;
        font-size: 0.75em;
        text-align: center;
        font-family: wf_segoe-ui_semibold;
    }
    .legales p {
        margin: 0;
        font-size: .6em;
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .version_desktop {
        display: none;
    }
    .version_mobile {
        display: block;
    }
    .margin-top-cuadro {
        padding-top: 18px;
    }
    .legales {
        padding-right: 7px!important;
        padding-left: 7px!important;
    }
    .office1 {
        margin-top: 50px;
    }
    .logos img {
        width: 95%;
        margin-top: 3px;
    }
    .owl-theme .owl-controls .owl-buttons div {
        width: 5px;
        height: 23px;
    }
    .onedrive-desktop {
        display: none;
    }
    .onedrive-mobile {
        display: block;
    }
    .beneficios img {
        max-height: 102px;
    }
    .disfruta-todoOffice {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: .9em;
    }
    .disfruta-todoOffice h3 {
        font-size: 1.3em!important;
        text-align: center;
        line-height: 1.3em;
    }
    .outlook_1:before,
    .outlook_1:before,
    .sharepoint_1:before,
    .onedrive_1:before,
    .yammer_1:before,
    .office_1:before {
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-top: 14px solid white;
        border-right: 14px solid transparent;
        display: none;
        content: "";
        margin: 0 auto;
        position: absolute;
        left: 45%;
        bottom: -20px;
        z-index: 9;
    }
    .skype_1:before {
        display: none!important;
    }
    .windows10 a {
        float: right;
        color: #fff;
        text-align: right;
        font-size: 1.1em;
        line-height: 2.6em;
        font-family: wf_segoe-ui_light;
    }
    .windows10 p {
        font-size: 1em;
    }
    .microsoft_azure_img {} .microsoft_azure_img {
        margin: 0 auto!important;
        display: block!important;
        max-width: 235px!important;
        position: relative!important;
        bottom: -70px!important;
    }
    .microsoft_azure p {
        padding-left: 15px;
        font-size: 1em;
        padding-top: 8px;
        line-height: 1.3em;
        font-family: wf_segoe-ui_normal;
    }
    .windows10 h3 {
        margin-top: 164px;
    }
    .microsoft_azure,
    .windows10 {
        min-height: 405px!important;
    }
    .foo-mobile a,
    .foo-mobile p {
        padding-right: 20px;
    }
    .desc1 h2 {
        font-size: 1em;
    }
    .img1 {
    padding: 20px 0px 0px 10px;
    }
    .centrar {
        margin-top: 62px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /*.margen-bottom{
        margin-bottom: 90px;
    }*/
    .cta-enviar{
        margin-bottom: 90px;
        padding-left: 150px!important;
    }
    .formulario-office p {
        color: #fff;
        padding: 52px 0px 21px 2px;
    }
    
    .preg-frecuentes p {
        color: #fff;
        padding: 25px 0px 21px 2px;
        font-size: 15px;
    }
    .respuesta p{
        font-size: 12px!important;
        min-height: 110px!important;
        margin-top: -50px;
        margin-left: 28px;
        margin-bottom: -20px;
    }
    .preg-blanca{
        margin-top: -88px;
        margin-left: 45px;
    }
    .links-margin {
        display: none;
    }
    .centrar{
        margin-top: 200px!important;
    }
    .subTitulo p{
        margin-top: -55px!important;
        margin-left: 40px!important;
    }
}
@media (max-width: 360px) {
    .row-prnci h3 {
        margin-bottom: 8%;
        width: 65%;
        margin-left: 35%;
    }
    .ingresa_institucion h3 {
        margin-bottom: 0px;
    }
}
@media (max-width: 320px){
    .cta-enviar {
    margin-bottom: 90px;
    padding-left: 107px!important;
}
}
@media (max-width: 990px) {
    .descarga_y_gana .skype:after {
        display: none;
    }
    .navbar{
        height: 321px;
    }
}
@media(max-device-width: 767px) {
    .pasos {
        display: none;
    }
    .pasos_mobile {
        display: block;
    }
    .desc {
        margin-top: 50px;
    }
    #collapseExample3 {
        margin-bottom: 15px;
    }
    #collapseExample4 {
        margin-top: 15px;
    }
}