* {
    margin: 0;
    padding: 0;
}
html,body {
    font-family: wf_segoe-ui_normal;
    height: 100%;
    overflow-x: hidden;
}

  h3 {
    font-size: 10px!important;
}
    .office, .office_1, .outlook,.sharepoint_1, .sharepoint, .skype, .onedrive, .yammer  {
    background-size: 69%;}
    .menuotro img {
    width: 90px;
}
    .menuotro{
    line-height: 46px!important;        
    }
    .navbar {
    height: 30px;}
    .menu>ul li {
    height: 46px;
    line-height: 46px;
    }
    .menu>ul li a {
    font-size: .76em;
    line-height: 46px;
    }
    .activa3 a {
    line-height: 11px!important;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 0px;
}
    .botonera {
    font-family: wf_segoe-ui_light;
    font-size: 20px;
    margin-top: 105px;
}
.conoce_mas {
    border-left: none; 
}
.mix-sway-one-texts p {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
.logo_conoce img {
    float: left;
    margin-left: -41px;
}
.conoce_mas {
    display: none;
}
.conoce_mas_mobile{
    display: block;
}
.one_note {
    background-color: #662d91;
    margin-bottom: 5px;
    height: 165px;
}
.imagen-beneficios {
    position: relative;
    bottom: -29px;
    margin-left: 15px;
}
.conoce_beneficios {
    margin-top: -32px;
}
.microsoft_azure {
     border-left: none; 
 }
 .conoce_beneficios h3 {
    padding: 8px;
    margin: 0px;
    margin-right: 0%;
    font-family: wf_segoe-ui_normal;
    font-size: 1.25em!important;
    margin-top: 6px;
}
.imagen-beneficios {
    width: 200px!important;
}
.conoce_mas {
    border-left: none!important; 
}
